/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,menu,nav,section,article,aside,
dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,td,form,fieldset,legend,hr,input,button,textarea,object,figure,figcaption {
    margin:0;
    padding:0;
    font-family: $notosans;
    font-size:10px;
    line-height: 1;
    color:#00142F;
    box-sizing: border-box;
    font-optical-sizing: auto;
    font-weight: $font-regular;
    font-style: normal;
}

html, body{
    width:100%;
    height: 100%;
}

html{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

body{
    width:100%; 
    background:#fff;
     min-width:320px;
     -webkit-text-size-adjust:none;
     word-wrap:break-word;
     word-break:break-all;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

body, input, select, textarea, button {
    border:none;
    font-size:1.2rem; 
    color: #727272;
} 

ul, ol, li{
    list-style:none;
}

table{
    width:100%;
    border-spacing:0;
    border-collapse:collapse;
}

img, fieldset{
    border:0;
}

address, cite, code, em{
    font-style:normal;
    font-weight:normal;
}

button {
    cursor: pointer;
}

label, img, input, select, textarea, button {
    vertical-align: middle;
    background-color: transparent;
}

.hide, caption, legend {
    line-height:0;
    font-size:1px;
    overflow:hidden;
}

hr { 
    display:none; 
}

main, header, section, nav, footer, aside, article, figure{
    display:block;
}

a{
    color:#000;
    text-decoration:none;
}

.blind {
    border: 0; 
    clip: rect(0 0 0 0); 
    clip-path: inset(50%); 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    white-space: nowrap;
}

/* Set box-sizing to border-box for all elements */
*, *:before, *:after {
    box-sizing: border-box;
}

/* Remove default padding and border for iframes in iOS. */
iframe {
    border: 0;
    padding: 0;
}
