/* 로그인 버튼 */


.tnb-buttons {
    margin-left: auto;
}

.btn-login {
    padding: 8px 16px;
    border-radius: 4px;
    color: $color-light-red;
    font-size: $font-size-sm;
    background-color: #fef6f2;
}
