
/* _variables.scss */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

$notosans: "Noto Sans KR", sans-serif;
$path-img: '/images/';
$path-img-common: $path-img + 'common/';
$path-img-ico: $path-img + 'ico/';
$path-img-bg: $path-img + 'bg/';


/* 색상 */
$color-primary: #007bff; // 주 색상
$color-secondary: #6c757d; // 보조 색상
$color-success: #28a745; // 성공 메시지 색상
$color-info: #17a2b8; // 정보 메시지 색상
$color-warning: #ffc107; // 경고 메시지 색상
$color-light-red: #e2757a; // red
$color-danger: #dc3545; // 위험 메시지 색상
$color-light: #f8f9fa; // 밝은 색상
$color-dark: #343a40; // 어두운 색상
$color-white: #fff; // 흰색
$color-black: #000; // 검정색

/* 폰트 사이즈 */
$font-size-base: 1.6rem; // 기본 폰트 사이즈 (16px)
$font-size-lg: 2rem; // 큰 폰트 사이즈 (20px)
$font-size-sm: 1.4rem; // 작은 폰트 사이즈 (14px)
$font-size-xs: 1.2rem; // 매우 작은 폰트 사이즈 (12px)

/* 여백 */
$spacing-xs: 0.4rem; // 4px
$spacing-sm: 0.8rem; // 8px
$spacing-md: 1.6rem; // 16px
$spacing-lg: 2.4rem; // 24px
$spacing-xl: 4.8rem; // 48px

/* 테두리 */
$border-radius: 0.25rem; // 테두리 둥근 정도
$border-width: 1px; // 테두리 너비

/* 그림자 */
$box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1); // 박스 그림자

/* bold */
$font-bold: 700;
$font-medium: 500;
$font-regular: 400;
$font-light: 300;
$font-thin: 100;


/* 미디어쿼리 */
$breakpoint-mobile: 360px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;